<h1 mat-dialog-title>
  Current daily news
</h1>

<mat-tab-group>
  <mat-tab label="Daily Top News"> 
      <div class="grid-container">
          <div class="icons">
              <mat-list role="list" *ngFor="let news of allNews">
                  <mat-list-item >
                    <a [href]="news.url"><mat-icon>language</mat-icon></a>
                  </mat-list-item>
                </mat-list>
           
          </div>
          <div class="titles">
              <mat-selection-list>
                  <mat-list-option *ngFor="let news of allNews">
                    {{news.title}}
                  </mat-list-option>
                </mat-selection-list>  
          </div>
        </div>
  </mat-tab>
  <mat-tab label="Saved News"> todo </mat-tab>
</mat-tab-group>

<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onSaveClick()">Save</button>
    <button mat-raised-button (click)="onCloseClick()">Close</button>
</div>